#dashboard-section {
    display: none;
    width: 100%;
    height: 100%;
}

.sidebar {
    width: 100px;
    height: 100%;
    background-color: var(--secondary-theme);
    padding: 10px;
    padding-bottom: 100px;
    border-right: 1px solid #212121;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-container {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 5em;
}

.sidebar button i {
    font-size: 30px;
    color: #212121;
}

.sidebar button:hover i {
    color: var(--primary-theme);
    transition: 0.3s;
}