#dashboard-section {
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
}

.sidebar {
    width: 5vh;
    height: 100%;
    background-color: var(--secondary-theme);
    padding: 10px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8vh;
}

.sidebar button i {
    font-size: 150%;
    color: #212121;
}

.sidebar button i:hover {
    color: var(--primary-theme);
    transition: 0.3s;
}

.topbar {
    width: 100%;
    height: 5vh;
    background-color: var(--secondary-theme);
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid #212121; */
}

/* window space where dynamic content is viewed. Different sections and pages of the application */
.view {
    background-color: rgb(226, 235, 255);
    position: absolute;
    top: 5vh;
    left: 5vh;
    width: calc(100% - 5vh);
    height: calc(100% - 5vh);
    padding: 10px;
    /* to avoid using height, width for each sub-page or section on the view window */
    display: flex;
}