:root {
    /* define a variable */
    --primary-theme: rgb(255, 255, 255);
    --secondary-theme: rgb(104, 151, 255);
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

main {
    width: 100%;
    height: 100%;
}

button {
    background-color: transparent;
    border: none;
    border: none;
}

button:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.1s;
}

button:active {
    transform: scale(0.98);
    transition: 0.1s;
}

/* a {
    text-decoration: none;
    color: inherit
} */